:root {
  --black: #121826;
  --black-lighten: #212936;
  --gray: #9da3ae;
  --gray-lighten: #d2d5da;
  --white-darken: #e5e7eb;
  --blue-lighten: #dee9fc;
  --red-lighten: #fbe5e6;
  --yellow-lighten: #fceed8;

  /* color map */
  --bg-color: var(--black);
  --bg-color-card: var(--black-lighten);
  --bg-color-icon-first: var(--yellow-lighten);
  --bg-color-icon-second: var(--blue-lighten);
  --bg-color-icon-third: var(--red-lighten);
  --text-color-header: var(--white-darken);
  --text-color-sub: var(--gray);
  --text-color-card: var(--white-darken);

  /* font */
  --font-base: 'Outfit', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

html,
body {
  font-family: var(--font-base);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 3.75%;
  margin: 0 auto;
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 3.5%;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}
